body {
  margin: 5px;
  background-color: aqua;
}
h6 {
  float: right;
  font-size: small;
  font-weight: 400;
  color: #54595d;
}
a {
  color: #0645b5;
}
img {
  width: 130px;
  display: block;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
button {
  margin: 4px 0 8px;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background-color: #f8f9fa;
}
p {
  margin: 0px;
}

.col-xs {
  background-color: #f6f6f6;
  font-size: small;
  color: #54595d;
  width: 155px;
}
.side-hr {
  margin: 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #a2a9b1,
    rgba(0, 0, 0, 0)
  );
}
.cog {
  width: 15px;
  display: inline;
  float: right;
}
.pen {
  width: 15px;
  display: inline;
}
.edit {
  float: right;
  color: #54595d;
}
.edit-link {
  color: #54595d;
}
