body {
  margin: 5px;
  margin-left: 0px;
  font-family: sans-serif;
}
h6 {
  float: right;
  font-size: 12px;
  font-weight: 400;
  color: #54595d;
}
a {
  color: #0645b5;
}

ul {
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}
p {
  margin: 0px;
  margin-left: 20px;
}
form {
  position: relative;
  display: inline;
}
h2 {
  position: relative;
  display: inline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-fluid {
  padding-left: 0px;
  padding-top: 7px;
}

.col-xs {
  background-color: #f6f6f6;
  font-size: 12px;
  color: #54595d;
  width: 160px;
  margin-left: 15px;
}
.logo {
  width: 135px;
  display: block;
  margin: 0 auto;
}
.side-hr {
  margin: 2px;
  margin-left: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #a2a9b1,
    rgba(0, 0, 0, 0)
  );
}
.cog {
  width: 15px;
  display: inline;
  float: right;
}
.languages-button {
  margin: 4px 0 8px;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background-color: #f8f9fa;
}
.pen {
  width: 15px;
  display: inline;
}
.edit {
  float: right;
  color: #54595d;
}
.edit-link {
  color: #54595d;
}

.tabs {
  margin-top: 20px;
}
.btn {
  float: left;
  border-radius: 0%;
  border-bottom-color: white;
  font-size: 13px;
}
.btn-light {
  border-top-color: white;
  border-bottom-color: white;
  background-color: white;
  border-left-color: #d2e8f8;
  border-right-color: #d2e8f8;
}
.btn-info {
  background-image: linear-gradient(white, #d2e8f8);
  border-color: white;
  border-left: none;
  border-right-color: #d2e8f8;
}
.right {
  float: right;
}
.input {
  width: 21vw;
  min-width: 5em;
  max-width: 20em;
  border: 1px solid #a2a9b1;
  font-size: 13px;
  padding: 3px;
  margin-left: 7px;
}
.magnifying-glass {
  width: 23px;
  position: absolute;
  z-index: 2;
  right: 0;
  padding: 3px;
  margin-top: 2px;
}
.tabs-hr {
  margin-top: 52px;
  background-color: #a7d7f9;
  opacity: 0.7;
}

.content {
  margin-top: 20px;
  font-size: 13px;
}
.padlock {
  width: 20px;
  display: inline;
  float: right;
  margin-top: 20px;
}
.content-hr {
  margin-top: 0px;
  margin-bottom: 6px;
}
