body {
  margin: 5px;
  margin-left: 0px;
  font-family: sans-serif;
}
h6 {
  float: right;
  font-size: 12px;
  font-weight: 400;
  color: #54595d;
}
a {
  color: #0645b5;
}

ul {
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}
form {
  position: relative;
  display: inline;
}
h3 {
  display: inline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 31px;
}

.container-fluid {
  padding-left: 0px;
}

.col-xs {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #f6f6f6 100%);
  border-right: 1px solid #a7d7f9;
  font-size: 12px;
  width: 160px;
  margin-left: 15px;
}
.col-xs p {
  margin: 0px;
  margin-left: 20px;
}
.logo {
  width: 135px;
  display: block;
  margin: 0 auto;
  padding-bottom: 7px;
}
.side-hr {
  margin: 2px;
  margin-left: 20px;
  margin-right: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #a2a9b1,
    rgba(0, 0, 0, 0)
  );
}
.cog {
  width: 15px;
  display: inline;
  float: right;
  margin-right: 10px;
}
.languages-button {
  margin: 4px 0 8px;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  background-color: #f8f9fa;
  margin-left: 15px;
}
.pen {
  width: 15px;
  display: inline;
}
.edit-link {
  float: right;
  color: #54595d;
  margin-right: 15px;
}

.col {
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 0px;
}
.tabs {
  margin-top: 12px;
}
.btn {
  float: left;
  border-radius: 0%;
  border-bottom-color: white;
  font-size: 13px;
  padding-left: 7px;
  padding-right: 7px;
}
.btn:hover {
  background-color: inherit;
  border-color: inherit;
}
.btn-light {
  border-top-color: white;
  border-bottom-color: white;
  background-color: white;
  border-left-color: #d2e8f8;
  border-right-color: #d2e8f8;
}
.btn-info {
  background-image: linear-gradient(white, #ebf4f9f8);
  border-color: white;
  border-left: none;
  border-right-color: #d2e8f8;
}
.right {
  float: right;
}
.input {
  width: 25vw;
  min-width: 5em;
  max-width: 23em;
  border: 1px solid #a2a9b1;
  font-size: 13px;
  padding: 3px;
  margin-left: 7px;
}
.magnifying-glass {
  width: 23px;
  position: absolute;
  z-index: 2;
  right: 0;
  padding: 3px;
  margin-top: 2px;
}
.tabs-hr {
  margin-top: 42px;
  margin-bottom: 8px;
  background-color: #a7d7f9;
  opacity: 0.7;
}

.col-xxs {
  width: 30px;
}
.col-content {
  margin-right: 12px;
}
.padlock {
  width: 20px;
  display: inline;
  float: right;
  margin-top: 9px;
}
.content-hr {
  margin-top: 2px;
  margin-bottom: 6px;
  background-color: #b9bec4;
}
.from-wikipedia {
  margin: 0px;
  font-size: 13px;
}
.content p {
  font-size: 14px;
}
.redirection {
  margin: 20px 25px 10px 25px;
}
